{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GridSet - Asset Management System</title>
    <link rel="icon" type="image/png" href="{% static 'img/konza.png' %}" />

    <script src="https://cdn.tailwindcss.com"></script>


    <script>
        tailwind.config = {
            theme: {
            extend: {
                fontFamily: {
                    segoe: ['"Segoe UI"', 'Arial', 'sans-serif'],
                },
                colors: {
                    primary: '#005B4F',
                    darkBg: '#0e1013',
                    softGray: '#f5f8fa',
                }
            }
            }
        };
    </script>
<!-- optional -->
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>
<body class="bg-softGray text-gray-900 antialiased">
    {% block content %}{% endblock %}
</body>
</html>
